@import "tailwindcss";
@import "./fonts.css";

@theme {
  --buttonShadow: 0 8px 16px rgba(242, 95, 58, 0.7);
  --wMobileMenu: calc(100dvw - 2.25rem);
  --left45: calc(var(--spacing) * 4.5);
}

:root {
  /* Primary */
  --BrightRed: hsl(12, 88%, 59%);
  --DarkBlue: hsl(228, 39%, 23%);

  /* Neutral */
  --DarkGrayishBlue: hsl(227, 12%, 61%);
  --VeryDarkBlue: hsl(233, 12%, 13%);
  --VeryPaleRed: hsl(13, 100%, 96%);
  --VeryLightGray: hsl(0, 0%, 98%);
}

html {
  width: 100%;
  height: auto;
}

section,
footer {
  margin-top: 8rem;
}
@media (max-width: 1280px) {
  section,
  footer {
    margin-top: 4rem;
  }
}

/* LIST INCREMENT */
.about ul {
  counter-reset: item;
}
.about li {
  counter-increment: item;
}
.about li::before {
  content: counter(item, decimal-leading-zero);
}

/* REVIEW CAROUSEL */
.review__carousel {
  @apply w-full overflow-x-auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  overflow-y: visible;
}
.review__carousel::-webkit-scrollbar {
  display: none;
}

/* FOOTER */
.footer__pattern::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("/images/bg-simplify-section-desktop.svg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: auto 100%;
  filter: brightness(3);
  z-index: 0;
}
@media (max-width: 1280px) {
  .footer__pattern::before {
    background-image: url("/images/bg-simplify-section-mobile.svg");
    background-position: left;
  }
}

/* FOOTER SOCIAL ICONS :HOVER */
footer a svg path {
  transition-duration: 300ms;
}
footer a:hover svg path {
  fill: var(--BrightRed);
}
